// ion-item {
// --border-color: "dorado";
// --padding-bottom: 0px;
// --padding-end: 0px;
// --padding-start: 0px;
// --padding-end: 0px;
// }

// .label{
//   color: #72726e"
// }
ion-item{
  // --ion-background-color: lightgrey;
  --ion-background-color: transparent !important;
}