<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title > Detalle de Inmueble </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content justify-content-center align-items-center> 
  <ion-card>
    <ion-img  src="{{ this.urlimage + this.inmueble.pics[0] + '.jpg' }}">
    </ion-img>
  </ion-card>

  <ion-grid fixed style="margin-top: -15px">
    <ion-row justify-content-center align-items-center>
      <ion-text color="secondary">
        <h1>
          <strong >{{ inmueble.name }}</strong>
        </h1>
      </ion-text>
    </ion-row>
  </ion-grid>

  <div style="height: 50px;background-color: rgb(238, 238, 238);border-radius: 20px; margin-left: 10%; margin-right: 10% ;margin-top: 5px ">
    <div style="width: 50%; height: 100%; text-align: center;float:left;">
      <ion-text color="secondary">
        <h4 style="line-height: 15px">
          <strong>Precio</strong>
        </h4>
      </ion-text>
    </div>
    <div
      style="width: 50%; height: 100%; background-color: lightgrey ; float:right; border-radius: 20px;; text-align: center; margin-top: 0px">
      <ion-text color="light">
        <h2 style="line-height: 8px">
          <strong>{{ this.inmueble.price }} $</strong>
        </h2>
      </ion-text>
    </div>
  </div>

  <!-- <ion-card>
    <ion-grid>
      <ion-label>Precio:</ion-label>
      <ion-row justify-content-center align-items-center>
        <ion-label>
          <h1>{{ this.inmueble.price }} $</h1>
        </ion-label>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <ion-grid fixed style="margin-top: 20px;">
    <ion-row>
      <ion-text color="secondary">
        {{ inmueble.place }}
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid fixed style="margin-top: 10px ; margin-bottom: 10px">
    <ion-row>
      <ion-text color="secondary">
        {{ inmueble.description }}
      </ion-text>
    </ion-row>
  </ion-grid>

  <!-- Features and Amenities -->
  <ion-item-group>
    <!-- Features -->
    <div style="height: fit-content;  background-color: rgb(238, 238, 238);padding-bottom: 30px;">
      <ion-grid fixed>
        <ion-row justify-content-center align-items-center>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Área construida</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.areac
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item class="ion-padding-">
              <ion-label style="color: #72726e">Área terreno</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.areat
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Parking</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.parking
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Baños</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.bathroom
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Antiguedad</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.antiquity
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Pisos</ion-label>
              <ion-note slot="end" color="secondary">{{
                this.inmueble.floors
              }}</ion-note>
            </ion-item>
          </ion-col>
          <!-- ///////////////////////////////////////////////////////////////// -->
        </ion-row>
      </ion-grid>
    </div>

    <!-- Amenities -->
    <ion-grid fixed>
      <ion-row justify-content-center align-items-center>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Amoblada</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Wifi</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Jardin</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Piscina</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Salón de juegos</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Vigilancia privada</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
        <!-- ///////////////////////////////////////////////////////////////// -->
        <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">Circuito cerrado</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            <!-- <ion-note slot="end" color="primary">{{ this.inmueble.areac }}</ion-note> -->
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-content>

<!-- <ion-button shape="round" color="secondary" (click)="planificarvisita()" style="text-transform: none;">
  <ion-text color="light">Planificar Visita</ion-text>
</ion-button> -->

<div style="text-align: center; height: fit-content;">
    <ion-button shape="round" color="secondary" (click)="planificarvisita()" style="text-transform: none;">
      <ion-text color="light">Planificar Visita</ion-text>
    </ion-button>
  </div>