<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row size="12">
      <ion-col size='12' >
        <ion-row class="ion-justify-content-center">
          <!-- <ion-img -->
            <img 
            src="../../../assets/myimages/user03.png"
            class="ion-padding"
            style="width: 50%" 
            >
          <!-- <ion-img
            src="../../../assets/myimages/user03.png"
            class="ion-padding"
            style="width: 50%" 
          ></ion-img> -->
        </ion-row>
      </ion-col>
      <ion-col size='12'>

        <ion-row>
          <ion-col size='12'>
            <ion-label>Usuario:</ion-label>
          </ion-col>
          <ion-col size='12'>
            <ion-row class="ion-justify-content-center">
              <ion-label>Usuariomm@mmm.mmX</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <ion-button (click)="onClick()" expand="full">
    Probar
  </ion-button> -->
</ion-content>
