<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ingresa Datos para la Visita
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- link jose https://drive.google.com/open?id=1LGNS90CmPV8BlQ5GIxLytDsNJ6T3cS9B -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Ingresa Datos para la Visita</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <ion-card-content>Día 1</ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>
            <ion-datetime
              displayFormat="DD/MM/YYYY"
              placeholder="Fecha Aquí"
              cancelText="Cancelar"
              doneText="Listo"
              mode="ios"
              [(ngModel)]="day_1"

              (ionChange)="cambioDay1()"
              (ionCancel)="cancelando()"
              [min]="minDay1"
              [max]="maxDay1"
              [disabled]="!statusDay1"
            ></ion-datetime>
            <!-- <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime> -->
          </h3>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_1_a_i"

                (ionChange)="cambioT1a()"
                
                [disabled]="!statusTime_1_a_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_1_b_i"
                (ionChange)="cambioT1b()"
                [disabled]="!statusTime_1_b_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_1_c_i"
                (ionChange)="cambioT1c()"
                [disabled]="!statusTime_1_c_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- ////////// -->
  <ion-card>
    <ion-card-content>Día 2</ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>
            <ion-datetime
              displayFormat="DD/MM/YYYY"
              placeholder="Fecha Aquí"
              cancelText="Cancelar"
              doneText="Listo"
              mode="ios"
              [(ngModel)]="day_2"
              (ionChange)="cambioDay2()"
              [min]="minDay2"
              [max]="maxDay2"
              [disabled]="!statusDay2"
            ></ion-datetime>
          </h3>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_2_a_i"
                (ionChange)="cambioT2a()"
                [disabled]="!statusTime_2_a_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_2_b_i"
                (ionChange)="cambioT2b()"
                [disabled]="!statusTime_2_b_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_2_c_i"
                (ionChange)="cambioT2c()"
                [disabled]="!statusTime_2_c_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- //////// -->
  <ion-card>
    <ion-card-content>Día 3</ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>
            <ion-datetime
              displayFormat="DD/MM/YYYY"
              placeholder="Fecha Aquí"
              cancelText="Cancelar"
              doneText="Listo"
              mode="ios"
              [(ngModel)]="day_3"
              (ionChange)="cambioDay3()"
              [min]="minDay3"
              [max]="maxDay3"
              [disabled]="!statusDay3"
            ></ion-datetime>
          </h3>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_3_a_i"
                (ionChange)="cambioT3a()"
                [disabled]="!statusTime_3_a_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_3_b_i"
                (ionChange)="cambioT3b()"
                [disabled]="!statusTime_3_b_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
            <ion-row>
              <!-- <h3> -->
              <ion-datetime
                displayFormat="h:mm A"
                minuteValues="0,15,30,45"
                cancelText="Cancelar"
                doneText="Listo"
                placeholder="Hora Aquí"
                mode="ios"
                [(ngModel)]="time_3_c_i"
                (ionChange)="cambioT3c()"
                [disabled]="!statusTime_3_c_i"
              ></ion-datetime>
              <!-- </h3> -->
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-button expand="full" (click)="GuardarCita()">Guardar Cita</ion-button>
</ion-content>
