<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Buscar Inmueble</ion-title>
  </ion-toolbar>

  <ion-searchbar
    animated
    placeholder="Buscar Inmueble Aquí"
    (ionChange)="buscar($event)"
  >
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item *ngFor="let album of albumes | filtro: textoBuscar:'title'" (click)="onClickItem(1)">
    <ion-grid>
        <ion-row>
          <ion-col size="11"  class="ion-align-self-center"> {{ album.title }} </ion-col>
          <ion-col size="1"  class="ion-align-self-center"><ion-icon name="play"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>




  <!-- <ion-list>
    <ion-item *ngFor="let album of albumes | filtro: textoBuscar:'title'">
      {{ album.title }} 
    </ion-item>
  </ion-list> -->
</ion-content>
