
// --ion-font-family: 'Open Sans';         ////////////////////////  

/** Ionic CSS Variables **/
:root {
  
  --ion-font-family: 'Open Sans';         ////////////////////////  

  --ion-color-primary: #c79855;
  --ion-color-primary-rgb: 199,152,85;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #af864b;
  --ion-color-primary-tint: #cda266;

  --ion-color-secondary: #82827D;
  --ion-color-secondary-rgb: 130,130,125;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #72726e;
  --ion-color-secondary-tint: #8f8f8a;

  --ion-color-tertiary: #e2c8a4;
  --ion-color-tertiary-rgb: 226,200,164;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c7b090;
  --ion-color-tertiary-tint: #e5cead;

  --ion-color-success: #c9c9c8;
  --ion-color-success-rgb: 201,201,200;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #b1b1b0;
  --ion-color-success-tint: #cecece;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-dorado: #C79855;
  --ion-color-dorado-rgb: 199,152,85;
  --ion-color-dorado-contrast: #000000;
  --ion-color-dorado-contrast-rgb: 0,0,0;
  --ion-color-dorado-shade: #af864b;
  --ion-color-dorado-tint: #cda266;

  --ion-color-gris: #82827D;
  --ion-color-gris-rgb: 130,130,125;
  --ion-color-gris-contrast: #000000;
  --ion-color-gris-contrast-rgb: 0,0,0;
  --ion-color-gris-shade: #72726e;
  --ion-color-gris-tint: #8f8f8a;
}