<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid> -->
    <!-- <ion-row class="ion-justify-content-center align-content-center"> -->
      <!-- <ion-card> -->
        <!-- <ion-card-content> -->
          <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Ingrese su Usuario</ion-label>
                <ion-input
                  required
                  clearInput
                  type="email"
                  name="email"
                  [(ngModel)]="usuario.email"
                  placeholder="usermm@mmm.mm"
                  value="usermm@mmm.mm"
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese su Contraseña</ion-label>
                <ion-input
                  required
                  clearInput
                  type="password"
                  name="password"
                  [(ngModel)]="usuario.password"
                  placeholder="passmm"
                  value="passmm"
                ></ion-input>
              </ion-item>
            </ion-list>
            <ion-grid *ngIf="error"
              ><ion-row justify-content-center align-items-center
                >Datos Incorrectos Intente nuevamente</ion-row
              ></ion-grid
            >
            <ion-button
              expand="full"
              type="submit"
              [disabled]="formulario.invalid"
            >
              Iniciar Sesión</ion-button
            >
          </form>
          <ion-button expand="full" routerLink="/register">
            Registrarse</ion-button
          >
          <!-- <ion-button expand="full" (click)="probando()"> Prueba</ion-button> -->
        <!-- </ion-card-content> -->
      <!-- </ion-card> -->
    <!-- </ion-row> -->
  <!-- </ion-grid> -->
</ion-content>
