<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx BUCLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <ion-item
      *ngFor="let c of [1, 1, 1, 1, 1, 1]; let i = index"
      (click)="onClick(1)"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-thumbnail>
              <img src="../assets/myimages/c01.jpg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            Casa número {{ i }}</ion-col
          >
          <ion-col size="1" class="ion-align-self-center"
            ><ion-icon name="help-circle"></ion-icon
          ></ion-col>
          <ion-col size="1" class="ion-align-self-center"
            ><ion-icon name="help-circle"></ion-icon
          ></ion-col>
          <ion-col size="1" class="ion-align-self-center"
            ><ion-icon name="play"></ion-icon
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx FIN BUCLE xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  </ion-list>
</ion-content>
