<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>
        <!-- class="animated rubberBand infinite slower" -->
      <!-- <ion-img src='../../assets/myimages/header.jpg' style="height: 25px;" class="ion-no-padding" class="ion-no-padding" ></ion-img> -->
      <ion-img  
            
      src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button shape="round" color="success" routerLink="/login" *ngIf="!this.userSigned" style="text-transform: none;"
  routerLink="/login">
  <ion-text color="light">
    Inicio de sesión
  </ion-text>
</ion-button>

<!-- <ion-button shape="round" color="success" style="text-transform: none;" (click)="pruebax()">
  <ion-text color="light">
    Prueba
  </ion-text>
</ion-button> -->

<!-- <div >
  <div style="width:50%; display:inline-table">Precio</div>
  <div style="width:50%; display:inline-table">Valor</div>
</div> -->

<!-- <ion-img src="../../assets/myimages/gif.gif" ></ion-img> -->

<!-- <ion-button expand="full" routerLink="/login" *ngIf="!this.userSigned">
  Bienvenido... Inicia Sesión..</ion-button
> -->
<!-- <a href="whatsapp://send?phone=584242332373?text=Me%20gustaría%20saber%20el%20precio%20del%20coche">Link WhatsApp</a> -->

<ion-content>
  
  <ion-row class="ion-justify-content-center">
    <ion-label *ngIf="this.userSigned">Bienvenido {{ this.user.email }}</ion-label>
    <ion-button expand="full" *ngIf="this.userSigned" (click)="cerrarsesion()">Cierra sesión</ion-button>
  </ion-row>

<!-- 
  <ion-img class="animated infinite bounce delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flash delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite pulse delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rubberBand delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite shake delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite headShake delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite swing delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite tada delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite wobble delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite jello delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInDownBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInLeftBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInRightBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInUpBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutDownBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutLeftBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutRightBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutUpBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipInX delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipInY delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipOutX delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipOutY delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite lightSpeedIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite lightSpeedOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInDownLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInDownRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInUpLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInUpRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutDownLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutDownRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutUpLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutUpRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite hinge delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite jackInTheBox delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rollIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rollOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite heartBeat delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img> -->










































































  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  





















  <!-- ooooooooooooooooooooooooooooooooBUCLEoooooooooooooooooooooooooooooooo -->
  <ion-card class="welcome-card" *ngFor="let inmueble of inmuebles">
    <img src="{{ urlimage + inmueble.pics[0] + '.jpg' }}" (click)="detalleinmueble(inmueble.id)" />
    <ion-grid>
      <ion-row>
        <ion-col size="10" (click)="detalleinmueble(inmueble.id)">
          <ion-card-title> <ion-text color="secondary">
            <strong>{{ inmueble.name }}</strong>
          </ion-text></ion-card-title>
        </ion-col>
        <ion-col>
          <!-- <ion-icon name="play"></ion-icon> -->
          <div class="inmueble-more">
            <ion-button fill="clear" (click)="alanzarMenu()" style="height: 100%">
              <ion-icon slot="icon-only" name="more" color="secondary"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- ooooooooooooooooooooooooooooooooFIN BUCLEoooooooooooooooooooooooooooooooo -->
</ion-content>