.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.inmueble-more {
  font-size: 25px !important;
  position: absolute;
  // position: relative;
  right: -10px;
  top: -10px;
  height: 100%;

  // bottom: -5px;
}
